<footer class="site-footer">
    <div class="wrapper">
        <!-- disqus -->

        <!-- disqus -->

        <!-- Google Analitics -->

        <!-- Google Analinics  -->

        <div align="center">
            {% if page.keywords %}
            <p>
                <strong>Tags:</strong> {{ page.keywords | strip_html |
                strip_newlines | truncate: 160 }} {% endif %}
            </p>
        </div>

        <br />
        <br />

        <div
            align="center"
            style="
                border-width: 4px;
                padding: 10px;
                border-style: inset;
                border-color: red;
            "
        >
            Похоже я мазохист, а Oracle ADF причиняем мне постоянную боль и
            заставляем меня страдать !!!
        </div>

        <br />
        <br />

        <div
            align="center"
            style="
                border-width: 4px;
                padding: 10px;
                border-style: inset;
                border-color: yellow;
            "
        >
            Сразу отвечаю на вопрос, - "Че за #$%^# здесь всякую непонятную
            #$%^# пишет?" <br />
            Идите сами на #$%^#! <br />
            Во первых, я сам иногда понимаю, что здесь написано! А во вторых,
            домен сейчас стоит 175 рублей в год.
        </div>

        <br />
        <br />

        <div
            align="center"
            style="
                border-width: 4px;
                padding: 10px;
                border-style: inset;
                border-color: blue;
            "
        >
            Очень большое количество примеров завязано на библиотеку, которая
            пока еще сырая и достаточно часто обновляется. Скачать ее можно по
            <a href="https://bitbucket.org/oracle-adf/adf-utils" rel="nofollow"
                >ссылке</a
            >. Буду признателен за помощь в ее развитии.
        </div>

        <br />
        <br />

        <div
            align="center"
            style="
                border-width: 4px;
                padding: 10px;
                border-style: inset;
                border-color: green;
            "
        >
            Материалы собираются и накапливаются скорее для себя. Надеюсь, что
            они будут полезны кому-нибудь еще. Толковых примеров в книгах очень
            мало и их недостаточно для профессиональной разработки. Приходится
            искать примеры в блогах более опытных программистов и адаптировать
            их под собственные задачи.

            <br /><br />

            Если будет, что добавить к уже имеющимся материалам, или вы нашли
            какую-то неточность в описании, пишите на почту или присылайте Pull
            Requests.

            <br />
            <br />

            <img src="/img/a3333333mail.gif" alt="Marley" border="0" />
        </div>

        <br />
        <br />

        <h2 class="footer-heading">ORACLE ADF</h2>

        <div align="center">
            <strong>Также собираем материалы по:</strong>
            <a href="https://oracle-dba.ru/database/" rel="nofollow"
                >Oracle DataBase</a
            >
            || <a href="https://plsql.ru/" rel="nofollow">SQL & PL/SQL</a>
        </div>

        <p class="text" align="center">
            OpenSource проект с исходниками на
            <a
                href="https://bitbucket.org/oracle-adf/oracle-adf.ru/"
                rel="nofollow"
                >bitbucket</a
            >. Если есть что добавить / исправить не стесняйтесь.

            <br /><br />

            Группа в telegram: javadev_ru
        </p>
    </div>

    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"
    ></script>
    <!-- javascripts -->
</footer>
