<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">
            <div class="trigger">
                <ul class="nav nav-tabs">
                    <li class="dropdown">
                        <a
                            href="{{ site.baseurl }}/environment-for-adf-development/"
                            data-toggle="dropdown"
                            class="dropdown-toggle"
                            >Работа<b class="caret"></b
                        ></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/job/"
                                    >Предложить работу</a
                                >
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ site.baseurl }}/job-seek/"
                                    >Поискать работу</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a
                            href="{{ site.baseurl }}/info/how-to-add-information-on-site/"
                            data-toggle="dropdown"
                            class="dropdown-toggle"
                            >Добавить знания<b class="caret"></b
                        ></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    href="{{ site.baseurl }}/info/how-to-add-information-on-site/"
                                    >Добавить свои знания на сайт</a
                                >
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a
                                    href="{{ site.baseurl }}/info/blog-on-subdomain/"
                                    >Завести свой блог на поддомене</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a
                            href="//javadev.org/chat/"
                            data-toggle="dropdown"
                            class="dropdown-toggle"
                            >Общение<b class="caret"></b
                        ></a>
                        <ul class="dropdown-menu">
                            <li><a href="//javadev.org/chat/">Чат</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ site.baseurl }}/oracle-adf-forum/"
                                    >Форум</a
                                >
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a
                                    href="https://community.oracle.com/tech/developers/categories/jdeveloper_and_adf"
                                    rel="nofollow"
                                    >Community (ENG)</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a
                            href="{{ site.baseurl }}/environment-for-adf-development/"
                            data-toggle="dropdown"
                            class="dropdown-toggle"
                            >Материалы<b class="caret"></b
                        ></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/demo/">Демки</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ site.baseurl }}/books/">Книги</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ site.baseurl }}/videos/">Видео</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ site.baseurl }}/blogs/">Блоги</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a
                            href="{{ site.baseurl }}/environment-for-adf-development/"
                            data-toggle="dropdown"
                            class="dropdown-toggle"
                            >Приступить<b class="caret"></b
                        ></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    href="{{ site.baseurl }}/environment-for-adf-development/"
                                    >Инсталляция ПО</a
                                >
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ site.baseurl }}/sample-schemas/"
                                    >Демонстрационные Схемы</a
                                >
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="//oracle-adf.com/src/"
                                    >Примеры ADF проектов с исходными кодами</a
                                >
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a
                                    href="{{ site.baseurl }}/oracle-adf-jsf-utils/"
                                    >ADF Utils / JSF Utils</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a
                            href="{{ site.baseurl }}/webcenter/"
                            data-toggle="dropdown"
                            class="dropdown-toggle"
                            >Еще<b class="caret"></b
                        ></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/webcenter/"
                                    >WebCenter</a
                                >
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="https://jet.jsdev.org">Oracle JET</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a
                            href="{{ site.baseurl }}/webcenter/"
                            data-toggle="dropdown"
                            class="dropdown-toggle"
                            >Вопросы<b class="caret"></b
                        ></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/issue/solved/"
                                    >Решенные</a
                                >
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ site.baseurl }}/issue/not-solved/"
                                    >Без решения</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{ site.baseurl }}/sitemap/">Карта</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
